@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 30px 15px;
}
form > p {
  font-size: large;
  font-weight: bold;
}
.App-header {
  display: flex;
  justify-content: space-between;
}
.App-header > p {
  align-self: center;
  font-size: x-large;
}
.div-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div-avatar > p {
  margin-left: 15px;
}
.overlay-avatar {
  position: relative;
}
.mudar-avatar {
  position: absolute;
  display: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.664);
}
.mudar-avatar > p {
  font-size: medium;
  align-self: center;
  color: white;
}
#avatar-input {
  display: none;
}
.overlay-avatar:hover .mudar-avatar {
  display: flex;
  cursor: pointer;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.form-pesquisa_titulo {
  display: flex;
  margin: 0 30px;
}
.form-pesquisa_titulo > input {
  align-self: center;
}
.div-logado {
  display: flex;
  flex-direction: column;
}
.form-pesquisa_submit {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: seagreen;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.button-deslogar {
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: seagreen;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.form-pesquisa_submit:hover {
  cursor: pointer;
}
.button-deslogar:hover {
  cursor: pointer;
}
.form-pesquisa_submit:active {
  transform: scale(0.9);
}
.button-deslogar:active {
  transform: scale(0.9);
}
#pesquisa {
  border-radius: 10px;
  border: 1px rgb(172, 168, 168) solid;
  padding-left: 1.5%;
  height: 36px;
  font-size: large;
  width: 300px;
}
.div-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(0, 0, 0, 0.4);
}
.grupo-cadastro-login {
  display: flex;
  flex-direction: column;
}
.logar-submit {
  border: none;
  border-radius: 10px;
  background-color: seagreen;
  color: white;
  font-size: large;
  padding: 15px 25px;
  height: fit-content;
  margin: 0 0 10px 0;
}
.logar-submit:hover {
  cursor: pointer;
}
.logar-submit:active {
  transform: scale(1.1);
}
.cadastro-button {
  border: none;
  border-radius: 10px;
  background-color: seagreen;
  color: white;
  font-size: large;
  padding: 15px 10px;
}
.cadastro-button:hover {
  cursor: pointer;
}
.cadastro-button:active {
  transform: scale(1.1);
}
.modal-cadastro-fundo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 200;
}
.modal-cadastro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 201;
}
.modal-cadastro button {
  border: none;
  border-radius: 4px;
  background-color: seagreen;
  color: white;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: medium;
}
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  border-radius: 6px;
  width: 20vw;
  height: 45vh;
}
.form-login > p {
  color: red;
}
.login-close {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24pt;
  color: white;
  cursor: pointer;
}
.modal-h3 {
  font-size: xx-large;
  color: gray;
  padding: 0;
  margin: 10px 0 10px 0;
  align-self: center;
}
.modal-input {
  margin-top: 15px;
  height: 30px;
  border: none;
  border-bottom: solid gray 1px;
  font-size: medium;
}
.modal-button {
  border: none;
  border-radius: 4px;
  background-color: seagreen;
  color: white;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: medium;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 50px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
}
.modal-form > * {
  margin: 11px 0;
}
.modal-form label {
  font-size: large;
  font-weight: bold;
}
.modal-form-titulo {
  height: 20px;
  font-size: medium;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
.modal-form textarea {
  font-size: medium;
  border: 1px solid gray;
  border-radius: 5px;
}
.modal-form select {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
}
.modal-form-arquivo {
  border: none;
  font-size: medium;
}
.modal-form button {
  width: fit-content;
  color: white;
  align-self: center;
  background-color: seagreen;
  padding: 15px;
  font-size: medium;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
}
.modal-deletar {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 200;
  border-radius: 10px;
}
.modal-deletar p {
  font-size: larger;
  align-self: center;
}
.modal-deletar button {
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 10px 15px;
  margin-top: 7%;
  align-self: center;
  font-size: medium;
}
.modal-deletar button:hover {
  cursor: pointer;
}
.modal-deletar button:active {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.795);
}
.md-fechar {
  align-self: flex-end;
  font-size: larger;
}
.md-fechar:hover {
  cursor: pointer;
}
.md-fechar:active {
  transform: scale(0.95);
}
.sair-modal {
  font-size: 36px;
  position: fixed;
  left: 20px;
  top: 20px;
  color: #fff;
  z-index: 201;
}
.sair-modal:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.sair-modal:active {
  transform: scale(0.9);
}
.div-spinner {
  width: 100%;
  height: 100%;
  z-index: 40000000;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  color: black;
  font-size: xx-large;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fundo-imagem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 200;
}
.modal-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-imagem > img {
  height: 80vh;
  max-width: 80vw;
  border-radius: 20px;
  object-fit: contain;
}
.modal-imagem-exit {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: x-large;
  color: white;
  z-index: 201;
}
.modal-imagem-exit:hover {
  cursor: pointer;
}
.imagens-titulo {
  font-size: x-large;
  font-weight: bold;
}
.imagens-titulo:hover {
  cursor: pointer;
}
.imagens-titulo::first-letter {
  text-transform: uppercase;
}
.imagens-descricao:hover {
  cursor: pointer;
}
.imagens-pai {
  position: relative;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  padding: 0;
  width: 100%;
}

.imagens-pai .info {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.imagens-pai .info .overlay-detail {
  display: flex;
}

.imagens-pai .info .overlay-detail > img {
  border-radius: 0 0 0 15px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.imagens-pai .info .tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;
}
.imagens-pai .info .tags span {
  background-color: seagreen;
  padding: 5px;
  border-radius: 15px;
  margin-left: 10px;
  color: white;
}
.imagens-pai .info .tags span:hover {
  cursor: pointer;
}
.imagens-pai:hover .info , .imagens-pai:hover  .coracao-like {
  visibility: visible;
}
.coracao-like{
  position: absolute;
  visibility: hidden;
  top: 20px;
  left: 10px;
  z-index: 201;
  font-size: xx-large;
  color: gray;
}
.vermelho{
  color: red;
}
.coracao-like:hover{
  cursor: pointer;
  color: red;
}

.imagens-pai .info > div {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  background: rgba(151, 148, 148, 0.781);
  border-radius: 0 0 20px 20px;
}

.imagens-pai .info > div p {
  padding-left: 20px;
}

.imagens-pai .info > button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  font-size: large;
  background-color: red;
}

.imagens-pai .info > button:hover {
  cursor: pointer;
}

.imagens {
  object-fit: cover;
  width: 100%;
  min-height: 300px;
  margin: 0;
  border-radius: 20px;
}
.imagens:hover {
  cursor: pointer;
}
.page-tag-header {
  display: flex;
  justify-content: center;
}
